@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(36,36,36);
}
header{
    position: sticky;
    top: 2px;
}
.navbar{
    display: grid;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid gold;
    border-radius: 50px;
    margin: auto;
    grid-template-columns: 30% 50% 20%;
    align-items: center;
    padding: 0.2% 5%;
    box-shadow: 0px 0px 5px gold;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    width: 30%;
    cursor: pointer;
}
.logo img{
    width: 50%;
    margin-right: 7%;
    padding: 0px;
}
.logo img:hover{
    box-shadow: 0px 0px 5px white;
}
.logo span:hover{
    box-shadow: 0px 0px 5px white;
}
#nav{
    display: grid;
    justify-content: left;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
}
#nav li{
    list-style: none;
    display: block;
    align-items: baseline;
    justify-content: left;
    padding: 0 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#nav li a{
    justify-content: left;
    font-size: 25px;
    color: orange;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
#nav li a:hover{
    color: rgba(255, 166, 0, 0.719);
    text-decoration: underline;
}
.button{
    display: flex;
    justify-content: center;
    padding: 9px 25px;
    font-size: 22px;
}
.button a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.685);
}
.navbar div button:hover{
    background-color: rgba(255, 166, 0, 0.699);
    box-shadow: 0px 0px 20px orange;
    border-radius: 10px;
    font-size: 19px;
}
.navbar div button{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 169, 8, 0.678);
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}
.box{
    background-color: #2a2e30;
    display: flex;
    margin: auto;
    width: 95%;
    height: 400px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px orange,
                inset 0px 0px 10px orange;
    transition: all 0.3s ease 0s;
}
.box:hover{
    box-shadow: 0px 0px 20px orange;
}
.name{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name img{
    height: 90%;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.clublogo{
    justify-content: center;
    align-items: center;
}
.clublogo img{
    height: 90%;
    margin-top: 4%;
    margin-left: 175px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
#about{
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    margin-left: 20px;
    width: 60%;
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
}
.register-content{
    display: flex;
    margin-left: 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
}
#about div{
    width: 40%;
}
#about div img{
    height: 100%;
    padding-left: 15%;
}
.line{
    width: 90%;
    margin: auto;
    border: 2px solid orange;
    border-radius: 1px;
}
.topic{
    margin: 5px 5px 5px 25px;
    font-family: 'Roboto Slab', serif;
    color: goldenrod;
    text-decoration: dashed;
    font-size: 200%;
}
.list1{
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
    margin-left: 5%;
}
#register{
    display: flex;
    height: 50vh;
}
.st{
    width: 50%;
}
.audition{
    width: 50%;
}
.audition img{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 75%;
    margin: auto auto;
}
#alumni{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 20% 20% 20%;
}
.card{
    border: 2px solid gold;
    border-radius: 10px;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    justify-content: center;
    margin: 10%;
    text-align: center;
    padding: 5%;
    transition: all 0.3s ease 0s;
}
.card:hover{
    padding: 7%;
    margin: 8%;
    cursor: pointer;
    box-shadow: 3px 3px 15px gold;
}
.card.photo{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.alogo{
    height: 25px;
}
.content1{
    display: flex;
    margin-left: 20px;
    width: 90%;
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
}
.names{
    display: grid;
    color: rgba(255, 255, 255, 0.781);
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
}
.o{
    margin: 10px 0;
    color: orange;
    font-size: 30px;

}
.jsec, .sencor{
    font-size: 25px;
}
#footer{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    color: white;
    background-image: linear-gradient(black, rgb(126, 82, 0));
    color: rgba(255, 255, 255, 0.781);
    font-size: 25px;
    padding: 2% 0 3% 5%;
    background-blend-mode: darken;
}
.slogo{
    color: white;
    text-decoration: none;
    padding-left: 10%;
    transition: all 0.3s ease 0s;
}
.slogo:hover{
    color: gold;
    padding-left: 12%;
}
.email a{
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
}
.email-button{
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;
    padding: 0.5% 1%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.email-button:hover{
    color: rgba(255, 255, 255, 0.644);
    border: 3px solid rgba(192, 192, 192, 0.712);
    box-shadow: 0px 0px 20px gray;
}
.phone-button{
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;
    padding: 0.5% 1%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.phone-button:hover{
    color: rgba(255, 255, 255, 0.644);
    border: 3px solid rgba(192, 192, 192, 0.712);
    box-shadow: 0px 0px 20px gray;
}
