*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(36, 36, 36);
}

.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 50px;
    width: 98%;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    color: white;
    width: 40%;
}
.logo img{
    width: 22%;
    margin-right: 7%;
    padding: 0px;
}
#nav{
    display: flex;
    align-items: center;
}
#nav li{
    list-style: none;
    display: flex;
    align-items: baseline;
    padding: 1% 1% 1% 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#nav li a{
    justify-content: center;
    font-size: 25px;
    color: gold;
    text-decoration: none;
}
#nav li a:hover{

    color: rgb(196, 166, 0);
    text-decoration: underline;
}
.box{
    background-color: #2a2e30;
    display: flex;
    margin: auto;
    width: 95%;
    height: 400px;
    border: 5px solid black;
    border-radius: 20px;
}
.name{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name img{
    height: 100%;
}
.clublogo{
    justify-content: center;
    align-items: center;
}
.clublogo img{
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 4%;
    margin-left: 175px;
}
.clublogo img:hover{
    border: 2px solid gold;
    border-radius: 10px;
}
#about{
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    margin-left: 20px;
    width: 60%;
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
}

#about div{
    width: 40%;
}
#about div img{
    height: 100%;
    padding-left: 15%;
}
.topic{
    margin: 5px 5px 5px 25px;
    font-family: 'Vidaloka', serif;
    color: goldenrod;
    text-decoration: dashed;
    font-size: 200%;
}
.list1{
    color: rgba(255, 255, 255, 0.781);
    font-size: 130%;
    margin-left: 5%;
}
#register{
    display: flex;
    justify-content: space-between;
}
.st{
    width: 50%;
}
.audition{
    width: 50%;
}
.audition img{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
    margin: auto auto;
}